@import "tailwindcss";
@import "flyonui/src/vendor/flatpickr.css";
@plugin "flyonui";
@import "flyonui/variants.css";
@source "../node_modules/flyonui/flyonui.js";
@plugin "@iconify/tailwind4";

@plugin "flyonui/theme" {
  name: "mytheme";
  default: true;
  color-scheme: dark;

  --color-primary: #9751fb;
  --color-primary-content: #f9f5ff;

  --color-base-100: #4d198a;
  --color-base-200: #802eef;
  --color-base-300: #5d1eab;
  --color-base-content: #f9f5ff;

  --color-secondary: #802eef;
  --color-secondary-content: #f9f5ff;

  --color-accent: #a970ff;
  --color-accent-content: #310566;
}